.projects-container {
    background-color: rgb(30, 30, 30);
    width: 100%;
    top: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.projects-container h2 {
    color: rgb(29, 161, 242);
    font-weight: 500;
    margin: 0;
    margin-left: 20rem;
}

.projects-container h1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2rem;
    margin: 0;
    margin-top: 0.6rem;
    margin-left: 20rem;
    font-family: Poppins, sans-serif;
}

.project-list-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 2rem;
    gap: 1.2rem;
}

.project-list-item-container {
    height: 20rem;
    background-color: rgb(4, 35, 53);
    transition: transform 0.3s ease;
    border-radius: 1.3rem;
    padding: 1.5rem;
}

.project-list-item-container:hover {
    transform: scale(1.05);
}

.project-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-item-img {
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 0.5rem;
}

@media (max-width: 1450px) {
    .projects-container h2 {
        margin-left: 10rem;
    }

    .projects-container h1 {
        margin-left: 10rem;
    }

    .project-list-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (max-width: 1100px) {
    .projects-container h2 {
        margin-left: 5rem;
    }

    .projects-container h1 {
        margin-left: 5rem;
    }

    .project-list-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .project-list-container {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 940px) {
    .projects-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .projects-container h2 {
        margin-left: 2rem;
    }

    .projects-container h1 {
        margin-left: 2rem;
    }

    .project-list-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 682px) {


    .projects-container h1 {
        font-size: 2rem;
    }

}

@media (max-width: 670px) {

    .projects-container h2 {
        font-size: 1.5rem;
    }

    .projects-container h1 {
        font-size: 1.5rem;
    }

    .project-list-container {
        grid-template-columns: auto;
    }

}