.skills-container {
    background-color: rgb(25, 25, 25);
    width: 100%;
    top: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.skills-container h2 {
    color: rgb(29, 161, 242);
    font-weight: 500;
    margin: 0;
    margin-left: 20rem;
}

.skills-container h1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2rem;
    margin: 0;
    margin-top: 0.6rem;
    margin-left: 20rem;
    font-family: Poppins, sans-serif;
}

.skill-list-container {
    display: flex;
    padding-right: 20rem;
    padding-left: 20rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-wrap: break-word;
    padding-top: 3rem;
    gap: 1.5rem;
}

.skill-item {
    width: 10rem;
    height: 13rem;
    background-color: rgb(41, 41, 41);
    border-radius: 0.5rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1rem;
    font-family: Poppins, sans-serif;
    color: rgb(200, 200, 200);
}

.skill-item-img-container {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-item-name-container {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-item-img {
    max-width: 8rem;
    max-height: 7rem;
    border-radius: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
}

.skill-item:hover {
    /* background-color: rgb(29, 161, 242); */
    background-color: #444444;
    transform: scale(1.1);
}