.experience-container {
    background-color: rgb(25, 25, 25);
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.experience-container h2 {
    color: rgb(29, 161, 242);
    font-weight: 500;
    margin: 0;
    margin-left: 20rem;
}

.experience-container h1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 2rem;
    margin: 0;
    margin-top: 0.6rem;
    margin-left: 20rem;
    font-family: Poppins, sans-serif;
}

.work-history-list-container {
    display: flex;
    flex-direction: column;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 2rem;
    gap: 1rem;
}

.work-header {
    background-color: rgb(33, 33, 33);
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.work-header .work-position {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(29, 161, 242);
    cursor: pointer;
}

.work-header:hover {
    background-color: rgb(41, 41, 41);
}

.work-header.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.work-header.open:hover {
    background-color: rgb(33, 33, 33);
}

.work-address, .work-timeline {
    color: rgb(200, 200, 200);
    font-size: 1rem;
    font-weight: 500;
}

.work-timeline {
    font-size: 0.9rem;
}

.work-content {
    background-color: rgb(41, 41, 41);
    height: 0px;
    width: 100%;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.work-content.open {
    height: 100px;
    transition: all 0.5s cubic-bezier(1. 0, 1, 0);
}

.header-indicator {
    color: rgb(200, 200, 200);
}

@media (max-width: 1450px) {
    .experience-container h2 {
        margin-left: 10rem;
    }

    .experience-container h1 {
        margin-left: 10rem;
    }

    .work-history-list-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media (max-width: 1100px) {
    .experience-container h2 {
        margin-left: 5rem;
    }

    .experience-container h1 {
        margin-left: 5rem;
    }

    .work-history-list-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 940px) {
    .experience-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .experience-container h2 {
        margin-left: 2rem;
    }

    .experience-container h1 {
        margin-left: 2rem;
    }

    .work-history-list-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .work-item .work-position {
        font-size: 1.1rem;
    }
}

@media (max-width: 682px) {
    .experience-container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 670px) {
    .experience-container h2 {
        font-size: 1.5rem;
    }

    .experience-container h1 {
        font-size: 1.5rem;
    }
}
